header {
    position: sticky;
    top: 0;
}

main > article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 1000px;
    margin: 40px auto;
}

main > article > section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

main > article > section:first-of-type img {
    width: 300px;
    height: 250px;
    object-fit: contain;
}

main > article > section:last-of-type details {
    margin-top: 50px;
}

main > article > section:last-of-type details + details {
    margin-top: 15px;
}